.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/restaurant2/project-colors.json
.vs/restaurant2/v17/.suo
RestaurantTP/.vs/RestaurantTP/project-colors.json
RestaurantTP/.vs/RestaurantTP/DesignTimeBuild/.dtbcache.v2
RestaurantTP/.vs/RestaurantTP/v17/.futdcache.v1
RestaurantTP/.vs/RestaurantTP/v17/.suo
RestaurantTP/.vs/RestaurantTP/v17/TestStore/0/001.testlog
RestaurantTP/.vs/RestaurantTP/v17/TestStore/0/testlog.manifest
RestaurantTP/bin/Debug/net6.0/RestaurantTP.deps.json
RestaurantTP/bin/Debug/net6.0/RestaurantTP.dll
RestaurantTP/bin/Debug/net6.0/RestaurantTP.exe
RestaurantTP/bin/Debug/net6.0/RestaurantTP.pdb
RestaurantTP/bin/Debug/net6.0/RestaurantTP.runtimeconfig.json
RestaurantTP/bin/Debug/net6.0/ref/RestaurantTP.dll
RestaurantTP/bin/Debug/netcoreapp3.1/RestaurantTP.deps.json
RestaurantTP/bin/Debug/netcoreapp3.1/RestaurantTP.dll
RestaurantTP/bin/Debug/netcoreapp3.1/RestaurantTP.exe
RestaurantTP/bin/Debug/netcoreapp3.1/RestaurantTP.pdb
RestaurantTP/bin/Debug/netcoreapp3.1/RestaurantTP.runtimeconfig.dev.json
RestaurantTP/bin/Debug/netcoreapp3.1/RestaurantTP.runtimeconfig.json
RestaurantTP/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RestaurantTP/obj/Debug/net6.0/apphost.exe
RestaurantTP/obj/Debug/net6.0/RestaurantTP.AssemblyInfo.cs
RestaurantTP/obj/Debug/net6.0/RestaurantTP.AssemblyInfoInputs.cache
RestaurantTP/obj/Debug/net6.0/RestaurantTP.assets.cache
RestaurantTP/obj/Debug/net6.0/RestaurantTP.csproj.AssemblyReference.cache
RestaurantTP/obj/Debug/net6.0/RestaurantTP.csproj.CoreCompileInputs.cache
RestaurantTP/obj/Debug/net6.0/RestaurantTP.csproj.FileListAbsolute.txt
RestaurantTP/obj/Debug/net6.0/RestaurantTP.dll
RestaurantTP/obj/Debug/net6.0/RestaurantTP.GeneratedMSBuildEditorConfig.editorconfig
RestaurantTP/obj/Debug/net6.0/RestaurantTP.genruntimeconfig.cache
RestaurantTP/obj/Debug/net6.0/RestaurantTP.pdb
RestaurantTP/obj/Debug/net6.0/ref/RestaurantTP.dll
RestaurantTP/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
RestaurantTP/obj/Debug/netcoreapp2.2/RestaurantTP.AssemblyInfo.cs
RestaurantTP/obj/Debug/netcoreapp2.2/RestaurantTP.AssemblyInfoInputs.cache
RestaurantTP/obj/Debug/netcoreapp2.2/RestaurantTP.GeneratedMSBuildEditorConfig.editorconfig
RestaurantTP/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
RestaurantTP/obj/Debug/netcoreapp3.0/RestaurantTP.AssemblyInfo.cs
RestaurantTP/obj/Debug/netcoreapp3.0/RestaurantTP.AssemblyInfoInputs.cache
RestaurantTP/obj/Debug/netcoreapp3.0/RestaurantTP.GeneratedMSBuildEditorConfig.editorconfig
RestaurantTP/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RestaurantTP/obj/Debug/netcoreapp3.1/apphost.exe
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.AssemblyInfo.cs
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.AssemblyInfoInputs.cache
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.assets.cache
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.csproj.AssemblyReference.cache
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.csproj.BuildWithSkipAnalyzers
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.csproj.CoreCompileInputs.cache
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.csproj.FileListAbsolute.txt
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.dll
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.GeneratedMSBuildEditorConfig.editorconfig
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.genruntimeconfig.cache
RestaurantTP/obj/Debug/netcoreapp3.1/RestaurantTP.pdb
RestaurantTP/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RestaurantTP/obj/Release/netcoreapp3.1/RestaurantTP.AssemblyInfo.cs
RestaurantTP/obj/Release/netcoreapp3.1/RestaurantTP.AssemblyInfoInputs.cache
RestaurantTP/obj/Release/netcoreapp3.1/RestaurantTP.assets.cache
RestaurantTP/obj/Release/netcoreapp3.1/RestaurantTP.GeneratedMSBuildEditorConfig.editorconfig
RestaurantTP/obj/project.assets.json
RestaurantTP/obj/project.nuget.cache
RestaurantTP/obj/RestaurantTP.csproj.nuget.dgspec.json
RestaurantTP/obj/RestaurantTP.csproj.nuget.g.props
RestaurantTP/obj/RestaurantTP.csproj.nuget.g.targets
RestaurantTPTest/bin/Debug/netcoreapp3.1/CoverletSourceRootsMapping
RestaurantTPTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/RestaurantTP.deps.json
RestaurantTPTest/bin/Debug/netcoreapp3.1/RestaurantTP.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/RestaurantTP.exe
RestaurantTPTest/bin/Debug/netcoreapp3.1/RestaurantTP.pdb
RestaurantTPTest/bin/Debug/netcoreapp3.1/RestaurantTP.runtimeconfig.dev.json
RestaurantTPTest/bin/Debug/netcoreapp3.1/RestaurantTP.runtimeconfig.json
RestaurantTPTest/bin/Debug/netcoreapp3.1/RestaurantTPTest.deps.json
RestaurantTPTest/bin/Debug/netcoreapp3.1/RestaurantTPTest.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/RestaurantTPTest.pdb
RestaurantTPTest/bin/Debug/netcoreapp3.1/RestaurantTPTest.runtimeconfig.dev.json
RestaurantTPTest/bin/Debug/netcoreapp3.1/RestaurantTPTest.runtimeconfig.json
RestaurantTPTest/bin/Debug/netcoreapp3.1/testhost.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/testhost.exe
RestaurantTPTest/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/xunit.assert.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/xunit.core.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RestaurantTPTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RestaurantTPTest/bin/Release/netcoreapp3.1/CoverletSourceRootsMapping
RestaurantTPTest/obj/project.assets.json
RestaurantTPTest/obj/project.nuget.cache
RestaurantTPTest/obj/RestaurantTPTest.csproj.nuget.dgspec.json
RestaurantTPTest/obj/RestaurantTPTest.csproj.nuget.g.props
RestaurantTPTest/obj/RestaurantTPTest.csproj.nuget.g.targets
RestaurantTPTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.AssemblyInfo.cs
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.AssemblyInfoInputs.cache
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.assets.cache
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.csproj.AssemblyReference.cache
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.csproj.BuildWithSkipAnalyzers
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.csproj.CopyComplete
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.csproj.CoreCompileInputs.cache
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.csproj.FileListAbsolute.txt
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.dll
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.GeneratedMSBuildEditorConfig.editorconfig
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.genruntimeconfig.cache
RestaurantTPTest/obj/Debug/netcoreapp3.1/RestaurantTPTest.pdb
RestaurantTPTest/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RestaurantTPTest/obj/Release/netcoreapp3.1/RestaurantTPTest.AssemblyInfo.cs
RestaurantTPTest/obj/Release/netcoreapp3.1/RestaurantTPTest.AssemblyInfoInputs.cache
RestaurantTPTest/obj/Release/netcoreapp3.1/RestaurantTPTest.assets.cache
RestaurantTPTest/obj/Release/netcoreapp3.1/RestaurantTPTest.GeneratedMSBuildEditorConfig.editorconfig
